{% extends 'template2.twig' %}
    {% block title %}Perfil{% endblock %}
{% block head %}{{ parent() }}{% endblock %}
    {% block nome_tela %}Perfil{% endblock %}
    {% block nome_relatorio %}Perfil{% endblock %}
{% block template %}
    <div class="row">
        <div class="col-md-3">

            {% if sucesso is defined %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                    <strong>Sucesso!</strong> {{ sucesso }}
                </div>
            {% endif %}
            {% if error is defined and error|length > 0 %}
                <div class="alert alert-danger alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">x</span></button>
                    <strong>Erro!</strong> {{ error }}
                </div>
            {% endif %}

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle"
                         src="
                        {% if user.avatar|length > 0 %}
                            {{ user.avatar }}
                        {% else %}
                            /assets/custom/img/avatar5.png
                        {% endif %}
                         " alt="User profile picture">
                    <h3 class="profile-username text-center">{{ user.username }}</h3>
                    <p class="text-muted text-center">Software Engineer</p>
                    <p class="text-muted text-center">
                        {% if user.active %}
                            Ativo
                        {% else %}
                            Inativo
                        {% endif %}
                    </p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Loja</b> <b class="pull-right">{{ user.loja }}</b>
                        </li>
                        <li class="list-group-item">
                            <b>Criado</b> <b class="pull-right">{{ user.created|date('d/F/y') }}</b>
                        </li>
                        <li class="list-group-item">
                            <b>Login</b> <i class="pull-right">{{ user.email }}</i>
                        </li>
                    </ul>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                    <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                    <div class="active tab-pane" id="activity"></div>
                    <div class="tab-pane" id="timeline"></div>
                    <div class="tab-pane" id="settings">
                        <form class="form-horizontal" action="{{ path('update_user', { idUser : user.id }) }}">
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" name="username" value="{{ user.username }}" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" name="email" value="{{ user.email }}" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Login</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName" name="login" value="{{ user.login }}" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputExperience" class="col-sm-2 control-label">Loja</label>
                                <div class="col-sm-10">
                                    <select name="loja" class="selectpicker show-tick">
                                        <option value=""></option>
                                        {% for loja in lojas %}
                                            <option value="{{ loja }}"
                                                    {% if loja == user.loja %}
                                                        selected="selected"
                                                    {% endif %}
                                            >{{ loja }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputSkills" class="col-sm-2 control-label">Cargo - Soon</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Save</button>
                                </div>
                            </div>
                        </form>
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}
